<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <!-- {{pro|json}} -->
  <div class="header">

<nav class="items">
  <ul>
    <li><a routerLink="Home">HOME</a></li>
    <li><a routerLink="Product">PRODUCT</a></li>
    <li><a routerLink="Contact">CONTACT</a></li>
    <li><a routerLink="Service">SERVICE</a></li>
    <li><a routerLink="Login">LOGIN</a></li>
  </ul>
</nav>
<div class="search-box">
  <span><input type="search" placeholder="search"></span>
  <i class="fa fa-search"></i>
</div>









<!-- <div class="account-items">
  <a routerLink="">
    <div class="icon" >
      <mat-icon>shopping_cart</mat-icon>
  <mat-icon>account_circle</mat-icon></div>
  <div class="account-name">Account</div></a>
</div> -->
</div>





<router-outlet></router-outlet>
