<div class="body">
  <div class="container">
    <div class="forms">

      <span class="title">Registration</span>
      <form #ResisterForm="ngForm" (submit)="ResisterForm.form.valid ">
       <div class="error-container">
        <div *ngIf="ResisterForm.form.invalid" class="error" > Please Enter the all required field</div>
        </div>

        <div class="form-group">
          <input type="text" name="name" required minlength="4" #uname="ngModel" [(ngModel)]="name" placeholder="Enter your Name">
          <i class="fa fa-user"></i>
        </div>
        <div class="error-container">
        <div *ngIf="!uname?.valid && (uname?.dirty || uname?.touched)" class="error">
          <div *ngIf="uname.errors?.['required']" class="error"> First Name is required </div>
          <div *ngIf="uname.errors?.['minlength']" class="error">First Name Minimum Length is 4</div>
        </div>
      </div>

        <div class="form-group">
          <input type="email" name="emailid" email required #email="ngModel" [(ngModel)]="mailid" placeholder="Enter your email">
          <i class="fa fa-envelope icon"></i>
        </div>
        <div class="error-container">
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
            <div *ngIf="email.errors?.['required']" class="error"> Emailid is required </div>
        <div *ngIf="email.errors?.['email']" class="error">Enter a correct emailid</div>
       </div>
      </div>

        <div class="form-group">
          <input type="password" name="password" #pass="ngModel" [(ngModel)]="password" required minlength="8" maxlength="15" placeholder="Enter your password" [type]="showPassword ? 'text' : 'password'">
          <i class="fa fa-lock icon" ></i>
          <i class="fa fa-eye-slash showhidepw" (click)="togglePasswordVisibility()"> </i>
        </div>
        <div class="error-container">
          <div *ngIf="!pass?.valid && (pass?.dirty || pass?.touched)" class="error">
            <div *ngIf="pass.errors?.['required']" class="error"> Password is required </div>
        <div *ngIf="pass.errors?.['minlength']" class="error">Enter a password atleast 8 to 15 characters</div>
       </div>
      </div>

        <div class="form-group">
          <input type="password" name="cpassword" #cpass="ngModel" [(ngModel)]="cpassword" required minlength="8" maxlength="15" placeholder="Enter your confirm password" [type]="showConfirmPassword ? 'text' : 'password'">
          <i class="fa fa-unlock-alt"></i>
          <i class="fa fa-eye-slash showhidepw" (click)="toggleConfirmPasswordVisibility()"></i>
        </div>
        <div class="error-container">
          <div *ngIf="!cpass?.valid && (cpass?.dirty || cpass?.touched)" class="error">
            <div *ngIf="cpass.errors?.['required']" class="error"> Password is required </div>
        <div *ngIf="cpass.errors?.['minlength']" class="error">Enter a password atleast 8 to 15 characters</div>
       </div>
      </div>

        <!-- <div class="checkbox-text">

          <div class="checkbox-content">
            <input type="checkbox" id="logcheck">
            <label for="logcheck" class="text">Remember me</label>
          </div>
          <a routerLink="" class="text">Forgot password?</a>
        </div> -->
        <div class="privacy-policy">
         <p> By continuing, you agree to
          <a routerLink=""> Terms & Conditions </a> and <a routerLink=""> Privacy Policy</a></p>
        </div>

        <div class="form-group-button button">
          <input type="submit" value="Register Now">
<!-- <button>Submit</button> -->
        </div>
      </form>
      <div class="login-signup">
        <span class="text">
          Existing user?
          <a routerLink="/login" class="text signup-text">Login Now</a>
        </span>

      </div>
    </div>
  </div>
  </div>
